.btn:hover {
    background-color: ;

}
.hero-equal-height{
    background: url(download.jpeg) no-repeat center center / cover;
}
.screenshots-section {
    background-color: ;
}
.container1 {
    margin-top: 100px;
}
